/* -------------------------- */
/* Author: bgeneto            */
/* Last modified: 2025-04-13  */
/* -------------------------- */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*/

/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

/* Change theme fonts */
:root {
    --r-main-font: "Eczar", serif;
    --r-heading-font: "Space Grotesk", sans-serif;
    --r-code-font: monospace;
    --r-heading-letter-spacing: normal;
    --r-heading-text-transform: none;
    --r-heading-color: #1a1a1a;
    --r-main-color: #333;
    --r-heading-text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* subtle white shadow */
    /* custom theme styles */
    --t-heading-font-size: 1.25em;
}

/* Ensure that optical sizing is applied to all text */
.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-optical-sizing: auto;
    font-weight: 500;
}

.reveal p {
    text-align: left;
}

.centered {
    text-align: center !important;
}

/* More space between list items */
.reveal ul>li {
    margin-bottom: 1ex;
}

.reveal ul ul>li {
    margin-bottom: 0;
    /* Remove spacing for nested list items */
}

.reveal .slide-number {
    position: absolute;
    display: block;
    left: 8px;
    bottom: 8px;
    z-index: 31;
    font-family: var(--r-heading-font);
    font-size: 12px;
    line-height: 1;
    color: #333;
    background-color: transparent;
    padding: 5px
}

/* Adjust math font size to match surrounding text */
.MathJax,
.katex {
    font-size: 105% !important;
}

.katex-display {
    margin: 0.5em 0 !important;
}

.small-text {
    font-size: 0.8em !important;
    font-optical-sizing: auto;
}

.footnote-text {
    font-size: 0.6em;
    font-optical-sizing: auto;
    font-style: italic;
    color: #333;
}

.spaced-small-caps {
    font-size: 1.10em;
    font-weight: 600;
    font-variant: small-caps;
    font-family: var(--r-main-font), serif;
    font-optical-sizing: auto;
    letter-spacing: 0.05em;
}

.white-frame {
    border: 2px solid black;
    border-color: black;
    border-radius: 10px;
    padding: 0.3ex 0.5ex 0.5ex;
    margin: 1.0ex 0;
    box-shadow: 0 4px 8px rgba(33, 33, 33, 0.3);
    text-align: center;
}

section[data-header]::before {
    content: attr(data-header);
    display: block;
    width: 100%;
    background-color: #6A3636;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* background-color: #0f3040; */
    color: #FDF6E3;
    text-align: center;
    font-family: var(--r-heading-font);
    font-size: var(--t-heading-font-size);
    font-weight: 600;
    font-optical-sizing: auto;
    padding: 10px 0;
    margin-bottom: 1ex;
}